

.nav{
    border: solid 2px black;
    /* padding: 10px; */
    /* display: flex; */
}

.nav>ul{
    display:flex;
    align-items: flex-end;
    /* padding: 19px; */
    /* gap: 0; */
    justify-content: center;
    }

img{
    width: 157px;
    height: 49;
}

main{
    display: flex;
    border: solid salmon;
    /* padding: 20% 20% 0%; */
    justify-content: space-around;
}

.sushi-texto{
    border: solid gray;
    width: 40%;
}


